html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  z-index: 99;
}

body {
  margin: 0;
  padding: 0;
  font-family: "SVN-Gilroy", sans-serif;
  font-weight: 500;
}

.container {
  max-width: 1440px;
  width: 100%;
  padding: 0px 130px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  position: relative;
  overflow: hidden;
  width: 1440px;
  background: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
  border-radius: 0px 0px 40px 40px;
  margin: 0 auto;
}

header#site-header .site-nav {
  display: flex;
  align-items: center;
  padding-top: 30px;
}
header#site-header .site-nav span {
  margin-left: 55px;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: #002A48;
}

nav .nav-list {
  display: flex;
  margin-left: 48px;
  gap: 48px;
  list-style: none;
}

li a {
  color: #002A48;
  font-weight: 700;
}

.site-nav .btn {
  margin-left: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 20px 12px 16px;
  gap: 12px;
  width: 280px;
  background: #FDFDFD;
  border-radius: 46px;
}

input {
  border: none;
  background-color: transparent;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #99A2A5;
}

.join {
  display: inline-block;
  margin-left: 14px;
  padding: 14px 28px 10px;
  background: #003459;
  border-radius: 57px;
}

.join a {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #FDFDFD;
}

section#showcase .container {
  display: flex;
  height: 615px;
}

h1 {
  margin-top: 108px;
  font-weight: 800;
  font-size: 60px;
  line-height: 68px;
  text-transform: capitalize;
  color: #002A48;
}

.left span {
  margin-top: 4px;
  font-weight: 700;
  font-size: 46px;
  line-height: 60px;
  text-transform: capitalize;
  color: #002A48;
}

.left p {
  width: 480px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #242B33;
}

.hero-link {
  display: flex;
  margin-top: 34px;
  gap: 25px;
}

.view {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  align-items: flex-end;
  color: #003459;
  padding: 14px 28px;
  gap: 8px;
  border: 1.5px solid #003459;
  border-radius: 57px;
}

.explore {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 14px 35px;
  gap: 10px;
  background: #003459;
  border-radius: 57px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FDFDFD;
}

.absolute0, .absolute1, .absolute2, .absolute3, .absolute4, .absolute5, .absolute6,
.absolute7, .absolute8 {
  display: none;
  position: absolute;
  z-index: 1;
}

.absolute0 {
  display: block;
  top: 84px;
  left: 530px;
  z-index: 10;
}

.absolute1 {
  display: block;
  z-index: 1;
  top: 180px;
  left: 115px;
}

.absolute2 {
  display: block;
  top: 148px;
  left: 757px;
}

.absolute3 {
  display: block;
  top: 200px;
  left: 728px;
}

.absolute4 {
  display: block;
  top: 209px;
  left: 727px;
}

.absolute5 {
  display: block;
  top: 280px;
  left: 596px;
}

.absolute6 {
  display: block;
  top: 205px;
  left: 610px;
}

.absolute7 {
  display: block;
  top: -670px;
  left: -305px;
}

.absolute8 {
  display: block;
  top: 595px;
  left: -91px;
}

.flex {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.wrapper1 span {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.wrapper1 p {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-transform: capitalize;
  color: #003459;
}

.flex button {
  padding: 12px 28px;
  width: 151px;
  height: 44px;
  border: 1.5px solid #003459;
  border-radius: 57px;
}

.grid {
  margin-top: 28px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 20px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.grid .card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 280px;
  padding: 8px 8px 0px;
  gap: 8px;
  background: #FDFDFD;
  box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
}
.grid .card .name {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #00171F;
}
.grid .card :nth-child(3) {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #667479;
}
.grid .card :nth-child(3) u {
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #667479;
}
.grid .card :nth-child(4) {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #00171F;
}

.mobilebutton {
  display: none;
  padding: 14px 28px 10px;
  gap: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #003459;
  border: 1.5px solid #003459;
  border-radius: 57px;
}

@media (max-width: 834px) {
  section#puppy .container .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
    row-gap: 20px;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media (max-width: 414px) {
  section#new .container .wrapper1 .span {
    font-size: 14px;
  }
  section#new .container .wrapper1 p {
    font-size: 20px;
  }
  section#new .container .flex button {
    display: none;
  }
  section#new .container .grid .card {
    width: 180px;
  }
  section#new .container .grid .card img {
    width: 169px;
  }
  section#new .container .mobilebutton {
    display: block;
    margin-top: 16px;
  }
}
section#explore .explore-wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  margin-top: 60px;
  padding: 0 100px;
  background-color: #003459;
  border-radius: 20px;
}
section#explore .right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 64px 100px;
}
section#explore p {
  margin-top: 8px;
  width: 394px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: right;
  color: #242B33;
}

h2 {
  margin-top: 64px;
  font-weight: 800;
  font-size: 52px;
  line-height: 68px;
  text-transform: capitalize;
  color: #003459;
}

h3 {
  margin-top: 2px;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  text-transform: capitalize;
  color: #003459;
}

.position2, .position3 {
  position: absolute;
  z-index: 1;
}

.position2 {
  bottom: 0;
  left: 0;
}

.position3 {
  top: -170px;
  left: 600px;
}

section#product .container .grid .card .a-wrapper {
  display: flex;
  margin-bottom: 20px;
  width: 248px;
  align-items: center;
  padding: 6px 10px 4px;
  background-color: #FCEED5;
  border-radius: 8px;
}
section#product .container .grid .card .a-wrapper .free {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #002A48;
}

@media (max-width: 834px) {
  section#product .container .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
    row-gap: 20px;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media (max-width: 414px) {
  section#product {
    display: none;
  }
}
.partner-wrapper {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.partner-wrapper p {
  font-weight: 500;
  font-size: 16px;
  line-height: 31px;
  display: flex;
  align-items: flex-end;
  color: #000000;
}
.partner-wrapper p span {
  margin-left: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  display: flex;
  align-items: flex-end;
  text-transform: capitalize;
  color: #003459;
}
.partner-wrapper button {
  display: flex;
  padding: 12px 28px;
  width: 201px;
  height: 44px;
  border: 1.5px solid #003459;
  border-radius: 57px;
}

.partner-wrapper2 {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

@media (max-width: 834px) {
  section#partners {
    display: block;
  }
}
section#adoption .adoption-wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  margin-top: 40px;
  padding: 0 100px;
  background: #FFB775;
  border-radius: 20px;
}
section#adoption p {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #242B33;
}
section#adoption .position4, section#adoption .position5 {
  position: absolute;
  z-index: 1;
}
section#adoption .position4 {
  top: 0;
  left: 0;
}
section#adoption .position5 {
  bottom: 0;
  right: 0;
}

.knowledge-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.knowledge-wrapper .knowledge-cards {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px;
  gap: 8px;
  background: #FFFFFF;
  box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
}
.knowledge-wrapper .knowledge-cards .text-wrapper {
  margin-top: 3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px;
  gap: 10px;
}
.knowledge-wrapper .knowledge-cards .text-wrapper .btn {
  padding: 2px 10px;
  gap: 10px;
  background: #00A7E7;
  border-radius: 28px;
}
.knowledge-wrapper .knowledge-cards .text-wrapper p {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #00171F;
}
.knowledge-wrapper .knowledge-cards .text-wrapper span {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #242B33;
}

footer#site-footer .container {
  margin-top: 60px;
  padding-top: 80px;
  padding-bottom: 40px;
  background: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
  border-radius: 40px 40px 0px 0px;
}
footer#site-footer .container .form-nav-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 40px;
  gap: 40px;
  border-bottom: 1px solid #CCD1D2;
}
footer#site-footer .container .form-nav-wrapper form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 1180px;
  justify-content: space-between;
  padding: 32px;
  gap: 20px;
  background: #003459;
  border-radius: 16px;
}
footer#site-footer .container .form-nav-wrapper form label {
  width: 389px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-transform: capitalize;
  color: #FDFDFD;
}
footer#site-footer .container .form-nav-wrapper form .input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 12px;
  background: #FFFFFF;
  border-radius: 14px;
}
footer#site-footer .container .form-nav-wrapper form .input-wrapper input {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 452px;
  padding: 14px 28px;
  gap: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #99A2A5;
  background: #FFFFFF;
  border: 1px solid #99A2A5;
  border-radius: 8px;
}
footer#site-footer .container .form-nav-wrapper form .input-wrapper button {
  padding: 14px 28px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FDFDFD;
  background: #003459;
  border-radius: 8px;
  border: none;
}
footer#site-footer .container .form-nav-wrapper nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 602px;
}
footer#site-footer .container .form-nav-wrapper nav .footer-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 60px;
  list-style: none;
}
footer#site-footer .container .form-nav-wrapper nav .footer-list a {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #00171F;
}
footer#site-footer .container .form-nav-wrapper nav .icons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 40px;
}
footer#site-footer .container .footer-logo {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer#site-footer .container .footer-logo span {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #667479;
}
footer#site-footer .container .footer-logo .link-wrapper {
  display: flex;
  width: 227px;
  justify-content: space-between;
}
footer#site-footer .container .footer-logo .link-wrapper a {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #667479;
}/*# sourceMappingURL=main.css.map */