section#product .container .grid .card .a-wrapper {
    
    display: flex;
    margin-bottom: 20px;
    width: 248px;
    align-items: center;
    padding: 6px 10px 4px;
    background-color: #FCEED5;
    border-radius: 8px;

    .free {
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        color: #002A48;
    }
}

@media (max-width: 834px) {
    section#product .container .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        justify-items: center;
        row-gap: 20px;
        column-gap: 20px;
    }
}

@media (max-width: 414px) {
    section#product {
        display: none;
    }
}